.benefit {
    text-align: center;
}

.benefit__image-wrapper {
    display: inline-block;
    width: 8rem;
    height: 8rem;
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1.5rem;

    @include phones {
        margin-bottom: 0;
    }
}

.benefit__icon {
    width: 3.75rem;
    height: 3.75rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 27.77px;
    text-align: center;
    color: $black;

    @include phones {
        margin-bottom: 6px;
        text-align: left;
    }
}

.benefit__desc {
    padding: 0 0.5625rem;

    @include phones {
        padding: 0;
        font-size: 15px;
    }
}

.benefit__text {
    @include phones {
        text-align: left;
        margin-left: 12px;
    }
}