.benefits-section {
    position: relative;

    &::before {
        content: "";
    position: absolute;
    border: 1.0625rem solid transparent;
    border-left: 2.125rem solid #E01F3D;
    bottom: -1.5rem;
    transform: rotate(140deg);
    }
}

.benefits {
    display: flex;
}

.benefits__item {
    flex: 1;
    margin: 0 3%;
    position: relative;


    &::before {
        content: url('../../img/icons/benefot-sep.png');
        position: absolute;
        top: 1.875rem;
        right: -3.8125rem;

        @include tablets {
            display: none;
        }
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;

        &::before {
            display: none;
        }

    }
}