.benefits-section {
    position: relative;

    &::before {
        content: "";
    position: absolute;
    border: 17px solid transparent;
    border-left: 34px solid #E01F3D;
    bottom: -24px;
    transform: rotate(140deg);
    }
}

.benefits {
    display: flex;
}

.benefits__item {
    flex: 1;
    margin: 0 3%;
    position: relative;

    &::before {
        content: url('../../img/icons/benefot-sep.png');
        position: absolute;
        top: 30px;
        right: -61px;
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;

        &::before {
            display: none;
        }

    }
}