.btn {
    display: flex;
    background-color: #E01F3D;
    width: 163px;
    height: 54px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 100px;

    &:hover {
        background-color: #CA1B36;
    }

    &--transparent {
        background: transparent;
        text-transform: none;
        border: transparent;

        &:hover {
            color: #E01F3D;
            background: transparent;
        }
    }
}