.order-section {
    background: url(../../img/order-bg.png) center center no-repeat;
    color: #FFFFFF;
    background-size: cover;
    

    &__title {
        color: #FFFFFF;
        margin-bottom: 47px;
    }
}

.form {
    display: flex;

    @include tablets {
        flex-direction: column;
        padding: 0 18%;
    }

    @include phones {
        padding: 0;
    }
}

.form__col {
    flex: 1;
    margin-right: 26px;

    @include tablets {
        margin-right: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
}

.form__block {
    flex: 1;
    margin-right: 0.875rem;
    margin-top: 0.875rem;

    &:last-child {
        margin-right: 0;
    }
}

.form__title {
    margin-bottom: 0.375rem;
}

.form__input {
    width: 100%;
    padding: 1.125rem 0.75rem;
    border: solid 3px transparent;

    @include tablets {
        height: 2.25rem;
    }

    &--textarea {
        height: 9.5rem;
        resize: none;
        margin-bottom: 2.25rem;

        @include tablets {
            height: 5.125rem;
        }
    }

    &:focus {
        border-color: #E01F3D;
        outline: none;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;

    @include phones {
        justify-content: center;
    }
}

.form__btns {
    display: flex;
    margin-top: 2.75rem;

    @include tablets {
        justify-content: center;
    }
}