.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}

.menu {
    margin: 0 30px;
    padding-top: 5px;

    @include tablets {
        display: none;
    }
}

.menu__list {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    font-family: 'Alegreya Sans';
    flex-wrap: wrap;
    justify-content: center;
}

.menu__item {
    margin-right: 0.9375rem;
    margin-bottom: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.menu__link {
    text-decoration: none;
}

.phone-number {
    min-width: 152px;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.phone-number__icon {
    width: 14px;
    height: 14px;
    margin-right: 6px;
}




