.section {
    height: 100vh;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.25rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.125rem;
    z-index: 1;
    color: #292929;
    position: relative;

    @include phones {
        font-size: 32px;
    }
}