.team__list {
    display: flex;
    margin-top: 35px;
    user-select: none;
}

.team__item {
    margin-right: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;

    &:last-child {
        margin-right: 0;
    }
}

.team__icon {
    margin-bottom: 25px;
}

.team__info {
    position: relative;
}

.team__item-name {
    font-size: 18px;
    font-weight: 700;
    color: $black;

    &-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        user-select: none;
    }
}

.team__item-trine {
    border: 6px solid transparent;
    border-bottom-color: red;
    margin-left: 5px;

    &--rotate {
        border-bottom-color: transparent;
        border-top-color: red;
        align-self: center;
    }
}

.team__item-text {
    display: none;
    //display: flex;
    flex-direction: column;
    max-width: 220px;
    position: absolute;
    left: -4px;
    
    &--display {
        display: flex;
    }
}

.team__item-text-1 {
    color: $black;
    margin-top: 11px;
    margin-bottom: 4px;
}